<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

   {{>navbar}}

   <!--main header-->
   <div class="container-fluid main_header"> 
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/a6.jpg" id="i" alt="about" class="img-fluid" title="Vishal">
                        </figure>
                        
                    
                        <p>Welcome to weather app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" target="blank"><button>Go To Home  </button></a>

                    </div>
                    <!--right side div-->
                    

                </div>
            </div>
        </div>
   </div>

   <!--footer code-->
   {{>footer}}

</body>
</html>